[submodule "main/external/debugger-libs"]
	path = main/external/debugger-libs
	url = https://github.com/DRavainera/debugger-libs.git
	branch = net10
[submodule "main/external/guiunit"]
	path = main/external/guiunit
	url = https://github.com/DRavainera/guiunit.git
[submodule "main/external/libgit-binary"]
	path = main/external/libgit-binary
	url = https://github.com/DRavainera/libgit-binary.git
	branch = net10
[submodule "main/external/libgit2"]
	path = main/external/libgit2
	url = https://github.com/DRavainera/libgit2.git
	branch = net10
[submodule "main/external/libgit2sharp"]
	path = main/external/libgit2sharp
	url = https://github.com/DRavainera/libgit2sharp.git
	branch = net10
[submodule "main/external/macdoc"]
	path = main/external/macdoc
	url = https://github.com/DRavainera/macdoc
[submodule "main/external/mdtestharness"]
	path = main/external/mdtestharness
	url = https://github.com/DRavainera/mdtestharness.git
[submodule "main/external/mono-addins"]
	path = main/external/mono-addins
	url = https://github.com/DRavainera/mono-addins.git
	branch = net10
[submodule "main/external/mono-tools"]
	path = main/external/mono-tools
	url = https://github.com/DRavainera/mono-tools.git
[submodule "main/external/nrefactory"]
	path = main/external/nrefactory
	url = https://github.com/DRavainera/NRefactory.git
[submodule "main/external/nuget-binary"]
	path = main/external/nuget-binary
	url = https://github.com/DRavainera/nuget-binary.git
	branch = net10
[submodule "main/external/sharpsvn-binary"]
	path = main/external/sharpsvn-binary
	url = https://github.com/DRavainera/sharpsvn-binary.git
[submodule "main/external/xwt"]
	path = main/external/xwt
	url = https://github.com/DRavainera/xwt
	branch = net10
[submodule "main/external/Xamarin.PropertyEditing"]
	path = main/external/Xamarin.PropertyEditing
	url = https://github.com/DRavainera/Xamarin.PropertyEditing
	branch = net10
[submodule "main/external/vs-editor-api"]
	path = main/external/vs-editor-api
	url = https://github.com/DRavainera/vs-editor-api.git
	branch = net10
[submodule "main/external/netcoredbg"]
	path = main/external/netcoredbg
	url = https://github.com/DRavainera/netcoredbg.git
